<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Prueba de Node.Js</title>
</head>
<body>
   <form action="recuperadatos" method="POST">
      Ingrese su nombre de usuario:
      <input type="text" name="nombre" id="nombre" size="30"><br>
      Ingresa clave:
      <input type="password" name="Clave" id="password" size="30"><br>
      <button type="submit" value="enviar">Enviar</button>
   </form>
</body>
</html>