<!--Home.ejs-->

<!DOCTYPE html>
<html>
<head>
   <title>Home Page</title>
   <style type="text/css" media="screen">
      body {
         background-color: #000;
         text-decoration-color: white;
         font-size: 7em;
      }

      h2 {
         color: azure;
      }

      h5 {
         color: azure;
      }
   </style>
</head>
<body>
   <center>
      <h2>This is our home page.</h2>
      <h5>Welcome <%=name%>, to our home page.</h5>
   </center>
</body>
</html>